nodeSelector:
  "eks.amazonaws.com/nodegroup": {{deployment:id}}-core-node
clusterName: {{deployment:id}}-eks
serviceAccount:
  create: false
  name: {{deployment:id}}-aws-load-balancer-sa
enableServiceMutatorWebhook: false
serviceMonitor:
  enabled: false
