nodeSelector:
  kubernetes.io/os: linux

resources:
  requests:
    cpu: 25m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 128Mi

secrets-store-csi-driver:
  syncSecret:
    enabled: true
  enableSecretRotation: true
  rotationPollInterval: 2m
  nodeSelector:
    kubernetes.io/os: linux
  resources:
    requests:
      cpu: 25m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi
