installCRDs: true
replicaCount: 2

nodeSelector:
  "eks.amazonaws.com/nodegroup": {{deployment:id}}-core-node

serviceAccount:
  create: true
  name: external-secrets

podSecurityContext:
  runAsNonRoot: true
  fsGroup: 1000

securityContext:
  runAsUser: 1000
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

podDisruptionBudget:
  enabled: true
  minAvailable: 1

webhook:
  replicaCount: 2
  nodeSelector:
    "eks.amazonaws.com/nodegroup": {{deployment:id}}-core-node
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
  podDisruptionBudget:
    enabled: true
    minAvailable: 1

certController:
  replicaCount: 1
  nodeSelector:
    "eks.amazonaws.com/nodegroup": {{deployment:id}}-core-node
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

serviceMonitor:
  enabled: false

prometheus:
  enabled: true
  service:
    port: 8080
