apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: {{ include "backstage.fullname" . }}-nodeclass
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  role: {{ .Values.deploymentId }}-eks-node-role
  amiSelectorTerms:
    - alias: bottlerocket@latest
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: {{ .Values.deploymentId }}-vpc
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: {{ .Values.deploymentId }}-vpc
  blockDeviceMappings:
    - deviceName: /dev/xvda
      ebs:
        volumeSize: 50Gi
        volumeType: gp3
        encrypted: true
        deleteOnTermination: true
    - deviceName: /dev/xvdb
      ebs:
        volumeSize: 100Gi
        volumeType: gp3
        encrypted: true
        deleteOnTermination: true
  tags:
    Name: {{ include "backstage.fullname" . }}-node
    {{- range $key, $value := .Values.labels }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
