apiVersion: v1
kind: Service
metadata:
  name: {{ include "backstage.fullname" . }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "backstage.selectorLabels" . | nindent 4 }}
