[
  {
    "Effect": "Allow",
    "Action": [
      "secretsmanager:GetSecretValue",
      "secretsmanager:DescribeSecret",
      "secretsmanager:ListSecrets"
    ],
    "Resource": [
      "arn:aws:secretsmanager:{{region}}:{{account}}:secret:{{prefix}}-*"
    ]
  },
  {
    "Effect": "Allow",
    "Action": [
      "secretsmanager:ListSecrets"
    ],
    "Resource": ["*"]
  },
  {
    "Effect": "Allow",
    "Action": [
      "kms:Decrypt",
      "kms:DescribeKey"
    ],
    "Resource": ["*"],
    "Condition": {
      "StringEquals": {
        "kms:ViaService": "secretsmanager.{{region}}.amazonaws.com"
      }
    }
  }
]
