apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: aws-secrets-manager
  labels:
    app.kubernetes.io/managed-by: {{deployment:id}}-eks
  annotations:
    app.kubernetes.io/version: "1.0.1"
spec:
  provider:
    aws:
      service: SecretsManager
      region: {{deployment:region}}
